/*-- scss:defaults --*/
// fonts
$presentation-font-size-root: 30px;


.reveal {
    font-size: 25px; /* 调整为你想要的全局字体大小 */
}

/* 可选：针对特定元素进一步调整 */
/* .reveal h1 {
  font-size: 2.5em; /* 相对于 .reveal 的字体大小 */
}
.reveal p {
  font-size: 1em;
}
.reveal li{
  font-size: 1em;
} */

/* .reveal .slide {
    height: 750px;
    overflow-y: auto !important;
} */

/* .reveal .title {
    margin-top: -70px; /* 调整这个值以抬高标题 */
} */

/* .reveal .subtitle {
    margin-top: 510px; /* 调整这个值以改变副标题的位置 */
} */

.reveal img {
    display: block;
    margin: 0 auto; /* 图片水平居中 */
}